@charset "UTF-8";

/* @import './codebase.min-5.0.css'; */
@import './codebase.min-5.0.css';
@import './nprogress.min.css';
@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.4/css/all.min.css");


.el-header{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-bottom: #ddd 2px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.el-aside{
  background-color: #fff;
  margin-top: -1px;
  height: calc(100vh - 60px);
  --el-aside-width: 220px;
  transition: all .3s ease;
}

.el-main{
  height: calc(100vh - 60px);
  overflow: hidden;
  scroll-behavior: auto;
  background-color: rgb(236, 236, 236);
}

/* Responsive CSS for small screens */
@media (max-width: 767px) {
  .el-aside {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1000;
    width: 100%;
    max-width: 220px;
    height: calc(100vh - 60px + 1px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .el-aside.is-collapsed {
    transform: translateX(0);
  }

  /* .el-main {
    width: 100%;
    margin-left: 0;
  } */
}
